html,
body {
  min-width: 500px;
}

.navBar{
  height: 10vh;
  background-color: #20303F;
}

.navBar-logo
{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -10%;
}
.DataBox{
  display: inline-block;
  background-color: #f0f0f0;
  width: 80%;
  border: 1px solid #D0D0D0;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 4px;
}

.DataTitle {
  font-size: 25px;
  display: inline;
  font-weight: bold;
}
.DataVersion {
  margin-right: 20px;
  font-size: 15px;
font-style: italic;
  float: right;
}

.DataWeb {
  font-size: 14px;
  margin: 10px;
}

.Pagination-block{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Page-box {

  display: inline-block;
}

